* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
}
body {
  background: url(/images/pattern-background-desktop.svg),
    hsl(225, 100%, 94%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 5px -2px #d0d8dd;;
}
.img-container {
  height: 200px;
  width: 400px;
  background: url(/images/illustration-hero.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
.text-container > h1 {
  font-size: 30px;
  font-weight: 900;
}
.text-container > p {
  color: hsl(224, 23%, 55%);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.price-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 300px;
  height: 70px;
  background: hsl(240, 11%, 96%);
  border-radius: 10px;
}
.price-container > a {
  text-decoration: underline;
  color: hsl(253, 69%, 41%);
  font-weight: 700;
  max-width: 70px;
  display: grid;
  place-items: center;
}
.price-container > a:hover {
  color: hsl(245, 75%, 65%);
}
.plan-container {
  max-width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 10px;
}
.plan-container h3 {
  font-size: 16px;
  font-weight: 700;
}
.plan-container p {
  width: 180px;
  margin: 0 auto;
  color: hsl(224, 23%, 55%);
}
.btn {
  font-size: 16px;
  border: none;
}
.btn1 {
  background: hsl(245, 75%, 52%);
  width: 300px;
  height: 40px;
  display: grid;
  place-items: center;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0px 13px 5px 0px #EAE5E1
}
.btn1:hover {
  background: hsl(245, 75%, 65%);
}
.btn2 {
  color: hsl(224, 23%, 55%);
  width: 300px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: transparent;
}
.btn2:hover {
  color: #000;
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 50px;
}
.attribution a {
  color: hsl(228, 93%, 17%);
}
@media only screen and (max-width: 480px) {
  .container {
    margin: 30px auto;
    max-width: 300px;
    max-height: 600px;
  }
  .img-container {
    height: 150px;
    width: 300px;
  }
  .text-container {
    height: 400px;
    width: 300px;
    padding: 30px 18px;
  }
  .price-container {
    width: 250px;

  }
  .plan-container {
    margin-left: 5px;
    width: 110px;
  }
  .btn1 {
    width: 250px;
  }
  .btn2 {
    width: 250px;
  }
}